/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gc-text-shadow {
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    text-shadow: 2px 0 0 #130032, -2px 0 0 #130032, 0 2px 0 #130032, 0 -2px 0 #130032,
      1px 1px #130032, -1px -1px 0 #130032, 1px -1px 0 #130032, -1px 1px 0 #130032;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.layout-container,
.layout-container-full {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 640px) {
  .layout-container,
  .layout-container-full {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 640px) {
  .layout-container,
  .layout-container-full {
    max-width: 620px;
  }
}

@media (min-width: 768px) {
  .layout-container,
  .layout-container-full {
    max-width: 750px;
  }
}

@media (min-width: 1024px) {
  .layout-container,
  .layout-container-full {
    max-width: 1000px;
  }
}

@media (min-width: 1280px) {
  .layout-container,
  .layout-container-full {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  .layout-container-full {
    max-width: 1890px;
  }
}

@media screen and (min-width: 3840px) {
  .layout-container-full {
    max-width: 3810px;
  }
}

/* Custom react-confirm-alert */
.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.4);
}

.wallet-adapter-modal-overlay {
  background: rgba(0, 0, 0, 0.4);
}

.wallet-adapter-modal-wrapper {
  background: #200064;
  padding-left: 40px;
  padding-right: 40px;
}

.wallet-adapter-modal-title {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
}

.wallet-adapter-button {
  background: transparent;
  border: 1px solid #9f99b3;
  border-radius: 32px;
  color: #9f99b3;
  font-size: 16px;
  font-weight: normal;
}

.wallet-adapter-button:hover {
  background: rgba(104, 35, 191, 0.2);
  border: 1px solid #6823bf;
  color: #fff;
  font-weight: 600;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
